nav{
    background:rgba(0,0,0,0.9);
    padding:20px;
    display:flex;
    justify-content:space-between;
    color:#fff;
    position:relative;
    z-index:99;
    
}
.userinfo{
margin-left: 10px;
cursor: pointer;
}
.loginfo{
    margin-left: 10px;
}