.postimg{
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
}
.clickhere{
    cursor: pointer;
}
.description{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
}